<%= form_with(model: quote) do |form| %>
  <% if quote.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
        <% quote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="quote">
  <div class="input-field">
    <%= form.text_field :name, class:"input" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
</div>

<% end %>
