<h1>Editing quote</h1>

<%= turbo_frame_tag @quote do %>
 <%= render "form", quote: @quote %>
 <%= button_to sanitize("&larr; Back"), quotes_path, method: :get %>
<% end %>

<br>

<div>
  <%= link_to "Show this quote", @quote %> |
  <%= link_to "Back to quotes", quotes_path %>
</div>
