<div id="container">
  <%= turbo_stream_from "quotes_broadcaster" %>

  <details>
    <summary>Details</summary>
    Something small enough to escape casual notice.
  </details>
  <div id="left">
    <%= button_to "New quote", new_quote_path, data: {turbo_frame: dom_id(Quote.new)}, method: :get %>
    <div>
			<%= turbo_frame_tag Quote.new %>
		</div>
  </div>
  <div id="right">
    <h1>
      Quotes
    </h1>
    <%= turbo_frame_tag "quotes" do %>
      <%= render @quotes %>
     <% end %>
  </div>
</div>
